{% extends "base.html" %}
{% block title %}Work Desk{% endblock %}
{% block content %}
<h3 class="mb-4">Work Desk</h3>
<div class="row g-4">
<div class="col-md-4"><div class="card p-3"><h5>Product Configuration</h5><a href="{{ url_for('product.production_selection') }}" class="btn btn-primary">Open</a></div></div>
<div class="col-md-4"><div class="card p-3"><h5>General Parameters</h5><a href="{{ url_for('general_parameters.general_parameters') }}" class="btn btn-primary">Open</a></div></div>
<div class="col-md-4"><div class="card p-3"><h5>Factory Parameters</h5><a href="{{ url_for('factory_parameters.factory_parameters') }}" class="btn btn-primary">Open</a></div></div>
<div class="col-md-4"><div class="card p-3"><h5>Cost Calculation</h5><a href="{{ url_for('cost_calculation.cost_cal') }}" class="btn btn-primary">Open</a></div></div>
<div class="col-md-4"><div class="card p-3"><h5>Dashboard</h5><a href="{{ url_for('dashboard.dashboard') }}" class="btn btn-primary">Open</a></div></div>
<div class="col-md-4"><div class="card p-3"><h5>User Profile</h5><a href="/profile" class="btn btn-primary">Open</a></div></div>
</div>
{% endblock %}


