<div class="bg-dark text-white p-3 vh-100" style="width:250px;">
    <h5 class="mb-4">سامانه بهای تمام‌شده</h5>
    <ul class="nav flex-column">
        <li class="nav-item mb-2"><a class="nav-link text-white" href="/workdesk">میز کار</a></li>
        <li class="nav-item mb-2"><a class="nav-link text-white" href="{{ url_for('product.production_selection') }}">پیکربندی محصول</a></li>
        <li class="nav-item mb-2"><a class="nav-link text-white" href="{{ url_for('general_parameters.general_parameters') }}">پارامترهای عمومی</a></li>
        <li class="nav-item mb-2"><a class="nav-link text-white" href="{{ url_for('factory_parameters.factory_parameters') }}">پارامترهای کارخانه</a></li>
        <li class="nav-item mb-2"><a class="nav-link text-white" href="{{ url_for('cost_calculation.cost_cal') }}">محاسبه بها</a></li>
        <li class="nav-item mb-2"><a class="nav-link text-white" href="{{ url_for('dashboard.dashboard') }}">داشبورد</a></li>
    </ul>
</div>
